
@import url(https://fonts.googleapis.com/css?family=Cabin);
//@import "compass";
@import "variables";
@import "bootstrap";
//@import "theme";

//Colors to be used for the website:
$mainColor :  #FFBF28;
$textColor : #000000;
$grey : #CCCCCC;


// 1.) Styling for the Whole Website

    //Get ride of all margin and padding
    * {
        font-family: Cabin;
        text-color: $textColor;
        //Get ride of all margin and padding to make them easy to manipulate
        margin: 0;
        padding: 0;

    }

.l-main{
    @extend .container;
    .l-content{
    @include make-sm-column(9);
    }
    .l-region--sidebar-first{
     @include make-sm-column(3);
    }
}
