// Import variables, abstractions, base styles and components.
// Uncomment the next lines and adjust them to your needs.
//@import "variables/{YOUR FILE NAME HERE}";
//@import "abstractions/{YOUR FILE NAME HERE}";
//@import "base/{YOUR FILE NAME HERE}";
//@import "components/{YOUR FILE NAME HERE}";

@import url(https://fonts.googleapis.com/css?family=Cabin);
//@import "compass";
@import "variables";
@import "bootstrap";
//@import "theme";

//Colors to be used for the website:
$mainColor :  #FFBF28;
$textColor : #000000;
$grey : #CCCCCC;
$secondaryColor: #6d2c54;


// 1.) Home Page Styling

//The Registration Buttons:
.registrationButtonClient , .registrationButtonFreelancer{
    background-color: $mainColor;
    border: $mainColor * 0.80;
    color: $text-color;
    margin-bottom: 10px; 
    
    //Change the color of the button when it is selected or focused.
        &:focus {
            background-color: ($mainColor * 0.80);
        }
        &:hover{
             background-color: ($mainColor * 1.20);
        }
}

#landingPage_contentContainer{
    width: 70%
}

//The Banner 
#landingPageWelcomeSection{
    min-height: 490px;
    //Center everything
    display: flex;
    justify-content: center;
    flex-direction: column;
    //Misc:
    position: relative;
    color: white;
    margin: 0 auto; 
    //padding: 5%;
    text-align: center;
    //url's are local to the css folder
    background: url('images/BannerBeta.png') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 20px;
    h1{
        font-size: 42px;
    }
    #landingPageWelcomeSection_border{
        position: absolute;
        display: inline-block;
        border-top: 2px solid white;
        margin-top: 35px;
        left: 42%;
        right: 42%;
    }
    #landingPageWelcomeSection_description{
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
        padding-bottom: 15px;
        font-size: 20px;
    }
    ul{
        margin-top: 35px;
    }
    li{
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
        
    }
}



#landingPageServices_description{
    height: 180px;
    padding-top: 32px;
    #plusSign{
        font-size: 80px;
        padding-top: 20px;
    }
    p{
        font-size: 22px !important;
        color: $mainColor !important;
        padding-top: 10px;

    }
      a:link {
          color: $mainColor;
      }

      /* visited link */
      a:visited {
          color: $mainColor;
      }

      /* mouse over link */
      a:hover {
          color: $mainColor;
          //text-decoration: none;
      }

      /* selected link */
      a:active {
          color: $mainColor;
          text-decoration: none;
      }
}


//These are regarding the second navbar that only appears when logged in.
.logged-in{
    #block-system-user-menu, #block-menu-menu-secondary-nav-bar{
        margin-bottom: 0px;
    }
}

.not-logged-in{
    #block-menu-menu-secondary-nav-bar{
        display: none !important;
    }
}



//The Margin for all sections
#landingPageServices, #landingPage_whoAreWe, 
#landingPage_howThisWorks ,#landingPage_theCreativeProcess{
    margin-bottom: 50px;
    margin-top: 50px;
}

//These are for the "Half" borders in the Who Are We section
.landingPage_whoAreWe_content{
    position: relative;
    .landingPage_whoAreWe_contentBorder{
        position: absolute;
        border-top: 2px solid $mainColor;
        left: 3.5%;
        right: 75%;
        margin-top: 15px;
    }
    p{
        font-size: 16px;
        //color: #6d2c54;
    }
    strong{
        font-size: 18px;
    }

}

//This is not being detected by the parent.. why?
#landingPage_whoAreWe_content_link{
        margin-top : 50px;
        font-size: 22px;
        a, a:link, a:visited {
            color: $mainColor;
        }
      /* mouse over link */
        a:hover, a:active {
          color: $mainColor;
          //text-decoration: none;
        }
}




#landingPage_whoWeAre_secondRow{
        margin-top: 30px;
}


#landingPage_theCreativeProcess{
    .row{
        font-size: 16px;
        color: #6d2c54;
    }
}


#landingPage_theCreativeProcess_description{
    position: relative; 
    margin-bottom: 30px; 
    margin-top: 30px; 
    .landingPage_whoAreWe_contentBorder{
        position: absolute;
        border-top: 2px solid $mainColor;
        left: 3.5%;
        right: 75%;
    }
    p{
        margin-top: 20px; 
        //font-size: 16px; 
    }
}


#landingPage_creativeTalent_firstColumn{
    padding-top: 15px;
    div{
        padding: 0 !important;
        margin: 0 !important;
     }
     #landingPage_creativeTalent_finalDesc{
        font-size: 1.4em;
        color: $mainColor;
        //width: 60%;
        margin-bottom: 32px !important;
    }

} 

#landingPage_creativeTalent_secondColumn{
    display: inline-block; 
    text-align: left;
    div{
         text-align: left;
         padding: 0 !important;
         margin: 0 !important;
    } 
    //padding-left: 15px;
    //background-color: grey;
    #landingPage_creativeTalent_request{
        color: #6d2c54;
        #landingPage_creativeTalent_clientsInNewZealand{
            font-size: 1.4em;
            padding-top: 15px !important;
            margin-bottom: 20px !important;
        }
        p{
            font-size: 16px;
        }
    }
} 



.landingPage_titles_creativeTalent{
    margin-top: 15px;
    border-bottom: 1.5px solid #FFBF28;
    font-size: 1.4em;
    margin-bottom: 30px; 
}

#landingPage_creativeTalent_clientsInNewZealand{
    font-size: 1.2em;
    font-weight: bold;
}


#landingPage_howThisWorks{
    p{
        font-size: 16px;
        color: #6d2c54;
    }
}
.landingPage_howThisWorks_content{
    text-align: center;
}

.landingPage_titles{
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 30px;
    border-bottom: 1.5px solid $mainColor; 
    text-align: center;
}

.landingPage_emphasizedText{ 
    font-size: 26px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px; 
}


#landingPage_creativeTalent_title{
    //display-inline: block;
    font-size: 26px;
    text-align: center; 
    // color: $mainColor;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px; 
}

 #landingPageServices_description, #landingPage_theCreativeProcess_description{
    font-size: 1.4em;
    //color: $mainColor;


 }


//These are for the icons of the Creative Services 
$landingPageServicesIconList: GraphicDesign ArtAndIllustration Branding WebAndApp MotionGraphics CreativeConsulting Photography;

@each $servicesIcons in $landingPageServicesIconList{
    #landingPageServices_#{$servicesIcons}{
        background: url(images/Services/#{$servicesIcons}.png) no-repeat;
        width: 150px;
        height: 150px;
        background-size: 100% 100%;
        margin: 0 auto;
    }
}

// Center the text for the services Icons
#landingPageServices{
    text-align: center;
    p{
        font-size: 16px;
        color: #6d2c54;
    }
    .landingPage_emphasizedText{
        p
        {
              font-size: 26px;
        width: 90%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px; 
        }
      
    }

}

//These are for the icons of features we provide for clients
$landingPageServices_clientIconList: UploadYourProject GetMatchedToTalent Communicate ImplementNewDesign;

@each $clientIcon in $landingPageServices_clientIconList{
    #landingPageServices_#{$clientIcon}{
        background: url(images/ClientProcess/#{$clientIcon}.png) no-repeat;
        width: 150px;
        height: 150px;
        background-size: 100% 100%;
        margin: 0 auto;
    }
}


//These are for the icons of features we provide for freelancers
$landingPageServices_freelancerIconList: CreateAPortfolio GetMatched StartWorking GetPaid;

//Icons for Freelancers/Creatives
@each $freelancerIcon in $landingPageServices_freelancerIconList{
    #landingPageServices_#{$freelancerIcon}{
          background: url(images/CreativeProcess/#{$freelancerIcon}.png) no-repeat;
          width: 150px;
          height: 150px;
          background-size: 100% 100%;
          margin: 0 auto;
    }

}

//This is for the New Zealand Icon
#landingPageServices_NZ_Icon{
    background: url('images/NZ-Icon.png') no-repeat;
    width: 150px;
    height: 150px;
    background-size: 100% 100%;
    margin: 0 auto;
}

.landingPage_titles{
   // @extend .well; 
}


.landingPage_bulletPointList{
    display: list-item;
    margin-left: 30px; 
    list-style-type:disc
}


// .l-content{
//     //@extend .container;
//     h1{
//         display:hidden;
//         //font-size: 12px;
//     }
// }



#myAccountPage_editFieldLink, #myAccountPage_passwordChangeLink{
    color: black;
    a{
        @extend .btn;
        background: $mainColor;
        color:black;
    }
}



//View and Edit tabs on my-account page.
// .tabs--primary{
//     display: none;
//     li{
//         display: none;
//         a{
//             display: none;
//         }
//     }

// }

 #addPortfolioButton{
   
        @extend .btn;
        background: $mainColor;
        color: $textColor;
    
}


//Specifics... 


#landingPageServices_mainContainer{
    #landingPageServices_contentContainer{
        width: 70%;

    }
    margin-bottom: 30px; 
}

#landingPage_whoAreWe_mainContainer{
    background-color: $secondaryColor;
    #landingPage_whoAreWe_contentContainer{
        width:70%;
        color: white;
        .landingPage_titles{
            border-bottom: none !important; 
            padding-bottom: 0px !important;
        }
        .hr_divider{
            border-top: 1.5px solid ($secondaryColor*1.20);
            padding-top: 30px;
            width: 96.5%;
            margin: 0 auto;
        }
    }
}

#landingPage_howThisWorks_mainContainer{
    #landingPage_howThisWorks_contentContainer{
        width:70%;
    }
      margin-bottom: 60px; 
}


#landingPage_theCreativeProcess_mainContainer{
    background-color: ($grey* 1.20);
    margin-top: 30px; 
    #landingPage_theCreativeProcess_contentContainer{
        .landingPage_emphasizedText{
            margin-bottom: 0px !important; 
        }
        width: 70%;
    }
}









