// Import variables, abstractions, base styles and components.
// Uncomment the next lines and adjust them to your needs.
//@import "variables/{YOUR FILE NAME HERE}";
//@import "abstractions/{YOUR FILE NAME HERE}";
//@import "base/{YOUR FILE NAME HERE}";
//@import "components/{YOUR FILE NAME HERE}";

@import url(https://fonts.googleapis.com/css?family=Cabin);
//@import "compass";
@import "variables";
@import "bootstrap";
//@import "theme";

//Colors to be used for the website:
$mainColor :  #FFBF28;
$textColor : #000000;
$grey : #f7f4f6;
$secondaryColor: #3c0f31;



// 1.) Home Page Styling

//The Registration Buttons:
.registrationButtonClient , .registrationButtonFreelancer{
    background-color: $mainColor;
    border: solid 3px #FFBF28;
    padding: 8px 16px;
    color: #434547;
    margin-bottom: 10px; 
    
    //Change the color of the button when it is selected or focused.
        &:focus {
            background-color: ($mainColor * 0.80);
        }
        &:hover{
             background-color: rgba(255, 255, 255, 0.0);
             border: solid 3px #FFBF28;
             color: #FFBF28;
        }
}

//The Banner 
#landingPageWelcomeSection{
    min-height: 600px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: white;
    margin: auto;
    top: 20px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    }

    #landingPageWelcomeSection h1{
        font-size: 42px;
        font-family:Cabin Bold;
    }
    #landingPageWelcomeSection_border{
        position: absolute;
        display: inline-block;
        border-top: 2px solid white;
        margin-top: 35px;
        left: 42%;
        right: 42%;
    }
#landingPageWelcomeSection_description{
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
        padding-bottom: 15px;
        font-size: 19px;

}
#landingPageWelcomeSection  ul{
    margin-top: 54px;
}
#landingPageWelcomeSection   li{
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
        
}


//Specifics... 

#landingPageServices_mainContainer,#landingPage_CreativeTalent_mainContainer, #landingPageFreelance_mainContainer, #landingPage_whoAreWe_mainContainer, #landingPage_howThisWorks_mainContainer{
    #landingPageServices_contentContainer, #landingPage_CreativeTalent_contentContainer, #landingPageFreelance_contentContainer,  #landingPage_whoAreWe_contentContainer, #landingPage_howThisWorks_contentContainer{
        width: 80%;

    }
    margin-bottom: 30px; 
}

#landingPage_theCreativeProcess_mainContainer{
    background-color: ($grey* 1.20);
    margin-top: 30px; 
    #landingPage_theCreativeProcess_contentContainer{
        .landingPage_emphasizedText{
            margin-bottom: 0px !important; 
        }
        width: 70%;
    }
}

.landingPageLeft_description {
    max-height: 412px;
    width: 100%;
    margin: 0 auto;
}

.landingPageLeft_description p{
    font-size: 24px;
    color: #FFBF28 !important;
    //padding-top: 10px;
    max-height: 412px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 10px;
}

.landingPageLeft_description{

      a:link {
          /*color: $mainColor;*/
      }

      /* visited link */
      a:visited {
          /*color: $mainColor;*/
      }

      /* mouse over link */
      a:hover {
          color: $mainColor;
          //text-decoration: none;
      }

      /* selected link */
      a:active {
          color: $mainColor;
          text-decoration: none;
      }
}

//The Margin for all sections
#landingPageServices, #landingPage_whoAreWe, 
#landingPage_howThisWorks ,#landingPage_theCreativeProcess{
    margin-top: 60px;
}

.landingPage_Icon_border{
    border-top: #FFBF28 solid 2px;
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
}

.landingPage_titles{
    font-size: 38px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1.5px solid $mainColor; 
    text-align: center;
    color: #6e2a54;
    font-family:Cabin Bold;
}

.landingPage_emphasizedText{ 
    font-size: 26px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #6e2a54;
}

.landingPageRight_description p{
    font-size: 23px;
    color: #FFBF28;
    //padding-top: 10px;
    text-align: left;
    width: 250px;
    margin-bottom: 40px;
}


//These are for Creative Services section1######################

//These are for the icons of the Creative Services 
$landingPageServicesIconList: GraphicDesign ArtAndIllustration Branding WebAndApp MotionGraphics CreativeConsulting Photography PlusSign;

@each $servicesIcons in $landingPageServicesIconList{
    #landingPageServices_#{$servicesIcons}{
        //Old implementation had the logos as background divs, it wasn't friendly with mobile...
        //background: url(images/Services/#{$servicesIcons}.png) no-repeat;
        img{
            max-width: 150px;
            max-height: 150px;
            height: auto;
            width: 100%;
            //background-size: 100% 100%;
            margin: 0 auto;
        }
    }
}

// Center the text for the services Icons
.landingPageServices_RightContent p{
    text-align: center;
}
#landingPageServices{
    text-align: center;

    #landingPageServices_ButtonClient{
        text-align:-webkit-left;
    }

    .CreativeServices_Content p, a{
        text-align: center;
    }
}

//These are for the icons of features we provide for clients
$landingPageServices_clientIconList: UploadYourProject GetMatchedToTalent Communicate ImplementNewDesign;

@each $clientIcon in $landingPageServices_clientIconList{
    #landingPageServices_#{$clientIcon}{
    
        img{
            max-width: 150px;
            max-height: 150px;
            height: auto;
            width: 100%; 
            //background-size: 100% 100%;
            margin: 0 auto;
        }
    }
}


//These are for Creative Talent section2######################

//The slide show 
.fadein { 
    position:relative; 
    height:302px; 
    width:500px; 
}
.fadein section { 
    position:absolute; 
    left:0; 
    top:0; 
}

#featured{
    position: relative;
    width: 100%;
}

#featured, #landingPage_CreativeTalent_slides {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom:40px; 
}
#featured section {
    position: relative;
    width: 1000px;
}
#featured section img {
    position: absolute;
    width: 100%;
}
/* hide slides when js is disabled */
#featured #slide-2,
#featured #slide-3,
#featured #slide-4,
#featured #slide-5,
#featured #slide-6 {
    display: none;
}


#landingPage_CreativeTalent_slides img{
    height: 300px;
    width: 100%;
    margin: 0 auto
}

//These are for Freelance Creatives section3######################
 .landingPageFreelance_iconFrame{
    height: 308px;
    margin: 6px auto;
 }

.box-shadow{
    -webkit-box-shadow: 0px 0px 46px -6px rgba(176,174,176,0.3);
    -moz-box-shadow: 0px 0px 46px -6px rgba(176,174,176,0.3);
    box-shadow: 0px 0px 46px -6px rgba(176,174,176,0.3);
    height: inherit;
}

#landingPageFreelance_iconBk1 img, #landingPageFreelance_iconBk2 img, #landingPageFreelance_iconBk3 img{
    width: 100%;
    height: 130px;
} 

#landingPageFreelance_ProfileBk1 img, #landingPageFreelance_ProfileBk2 img, #landingPageFreelance_ProfileBk3 img{
    border: solid 2px #FFBF28;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

#landingPageFreelance_ProfileBk1 {
    margin: -40px 0px -36px 15px;
}

#landingPageFreelance_ProfileBk2 {
    margin: -40px 0px -36px 8px;
}

#landingPageFreelance_ProfileBk3 {
    margin: -40px 0px -36px 15px;
}

.landingPageFreelance_iconFrame h3 {
    font-size: 15px;
    text-align: center
}

.landingPageFreelance_iconFrame p{
    font-size: 11px;
    padding: 0px 8px 0px 18px;
    text-align: left;
}

.Icon_border_Freelance{
    border-top: #FFBF28 solid 2px;
    //padding-top: 8px;
    width: 83%;
    margin: 0 auto;
}
#landingPage_Freelance_button {
    padding: 0px 7px;
    font-size: 12px;
    color:#ffffff;
}

#landingPage_Freelance_button:hover{
    color:#434547;
}

#landingPageFreelance_ButtonClient{
    text-align:-webkit-left;
}


//These are for How it works section4######################
#landingPage_howThisWorks_mainContainer{
    background-color: #f7f4f6; 
}


.landingPage_howThisWorks_content{
    text-align: center;
    padding:30px;
}
#landingPage_howThisWorks_video video {
    max-height: 412px;
    width: 100%;
    margin: 0 auto
}

//These are For businesses big or small(whoWeAre) section5######################
#landingPage_whoWeAre_secondRow{
    margin-top: 30px;
    width: 80%;
    margin: auto;
}

#landingPage_whoAreWe_button{
    display:flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    position: relative; 
    height: 150px;

    ul {
        text-align:center;
    }

    li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    }
}

.landingPage_whoAreWe img {
  max-width: 100px;
  max-height: 150px;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 2px solid #FFBF28;  
  } 

.landingPage_whoAreWe h3 {
    font-size:18px;
    text-align: center;
    color: #6e2a54;
}

.landingPage_whoAreWe p {
    font-size:14px;
    text-align: center;
    color:#fbbf20;
}

.whoAreWe_paragraph {
    margin-left: 60px;
    margin-right: 50px;
}


//These are regarding the second navbar that only appears when logged in.
.logged-in{
    #block-system-user-menu, #block-menu-menu-secondary-nav-bar{
        margin-bottom: 0px;
    }
}

.not-logged-in{
    #block-menu-menu-secondary-nav-bar{
        display: none !important;
    }
}

//This is not being detected by the parent.. why?
#landingPage_whoAreWe_content_link{
        margin-top : 50px;
        font-size: 22px;
        a, a:link, a:visited {
            color: $mainColor;
        }
        a:hover, a:active {
          color: $mainColor;
        }
}

#landingPage_theCreativeProcess{
    .row{
        font-size: 16px;
        color: #6d2c54;
    }
}


#landingPage_theCreativeProcess_description{
    position: relative; 
    margin-bottom: 30px; 
    margin-top: 30px; 
    .landingPage_whoAreWe_contentBorder{
        position: absolute;
        border-top: 2px solid $mainColor;
        left: 3.5%;
        right: 75%;
    }
    p{
        margin-top: 20px; 
        //font-size: 16px; 
    }
}

//These are for the icons of features we provide for freelancers
$landingPageServices_freelancerIconList: CreateAPortfolio GetMatched StartWorking GetPaid;

//Icons for Freelancers/Creatives
@each $freelancerIcon in $landingPageServices_freelancerIconList{
    #landingPageServices_#{$freelancerIcon}{

        img{
            max-width: 150px;
            max-height: 150px;
            height: auto;
            width: 100%; 
            //background-size: 100% 100%;
            margin: 0 auto;
        }
    }

}


.landingPage_bulletPointList{
    display: list-item;
    margin-left: 30px; 
    list-style-type:disc
}



#myAccountPage_editFieldLink, #myAccountPage_passwordChangeLink{
    color: black;
    a{
        @extend .btn;
        background: $mainColor;
        color:black;
    }
}


#addPortfolioButton{
    @extend .btn;
    background: $mainColor;
    color: $textColor;
    
}






//Media query for mobile:
//These are some margin changes when the user is on a mobile device

@media (max-width: $screen-xs-max) {
    //Change some margins when the screen is small

    #landingPageWelcomeSection_description, #landingPageServices_contentContainer, #landingPageFreelance_contentContainer, .landingPage_emphasizedText, #landingPage_whoAreWe_contentContainer, #landingPage_howThisWorks_contentContainer,  #landingPage_CreativeTalent_contentContainer,landingPageFreelance_contentContainer #landingPage_theCreativeProcess_contentContainer, #landingPage_creativeTalent_title{
        width: 100% !important; 
    }

    #landingPage_whoAreWe_contentContainer{
        .landingPage_whoAreWe_contentBorder{
            left: 5%;
        }
        .landingPage_whoAreWe_content{
            margin-bottom: 30px !important; 
        }
        #landingPage_whoWeAre_secondRow{
            margin-top: 0 !important;
            width: 100%;
            div:nth-child(4){
                height: 90px !important;
                text-align: right !important;
                padding-top: 30px !important;
                a{
                    position: relative !important;
                }
            }
        }
    }



#landingPage_howThisWorks{
    margin-bottom: 20px;
}

#landingPageWelcomeSection h1 {
    font-size: 2em;
}

.landingPageLeft_description p {
    width: 100%;
    font-size:20px;
}

.whoAreWe_paragraph {
    margin-left: 0px;
    margin-right: 0px;
}
}

@media(max-width:1280px){

}
@media(max-width:1024px){


}

@media(max-width:768px){

.landingPageFreelance_iconFrame {
    width: 50%;
    height: 424px;
}

#landingPageFreelance_iconBk1 img, #landingPageFreelance_iconBk2 img, #landingPageFreelance_iconBk3 img{
    width: 100%;
    height: 100%;
} 

#landingPageFreelance_ProfileBk1 img, #landingPageFreelance_ProfileBk2 img, #landingPageFreelance_ProfileBk3 img{
    width: 70px;
    height: 70px;
}
.landingPageFreelance_iconFrame h3 {
    font-size: 26px;
}
.landingPageFreelance_iconFrame p{
    font-size: 17px;
}

.landingPageRight_description p {
    font-size: 34px;
    width: 327px;
}

#landingPageFreelance_ProfileBk1 {
    margin: -42px 0px -36px 15px;
}

#landingPageFreelance_ProfileBk2 {
    margin: -40px 0px -36px 12px;
}

#landingPageFreelance_ProfileBk3 {
    margin: -42px 0px -36px 15px;
}

#whoAreWe_Urgent {
    width:100%;
}

#landingPage_whoWeAre_secondRow{
    width: 100%;
}
}

@media(max-width:640px){    


}

@media(max-width:480px){

.landingPageFreelance_iconFrame {
    width: 100%;
    height: 404px;
}

.landingPageFreelance_iconFrame h3 {
    font-size: 20px;
}

.landingPageFreelance_iconFrame p{
    font-size: 16px;
}

#landingPageFreelance_iconBk1 img, #landingPageFreelance_iconBk2 img, #landingPageFreelance_iconBk3 img{
    width: 100%;
    height: 100%;
} 

#landingPageFreelance_ProfileBk1 img, #landingPageFreelance_ProfileBk2 img, #landingPageFreelance_ProfileBk3 img{
    width: 70px;
    height: 70px;
}

#landingPageFreelance_ProfileBk1 {
    margin: -42px 0px -36px 15px;
}

#landingPageFreelance_ProfileBk2 {
    margin: -40px 0px -36px 12px;
}

#landingPageFreelance_ProfileBk3 {
    margin: -42px 0px -36px 15px;
}

.landingPageRight_description p {
    width: 285px;
    font-size: 20px;
}

#whoAreWe_Urgent {
    width:100%;
}

}


@media(max-width:320px){

.landingPageFreelance_iconFrame {
    width: 100%;
    height: 354px;
}

.landingPageFreelance_iconFrame h3 {
    font-size: 18px;
}

.landingPageFreelance_iconFrame p{
    font-size: 14px;
}

.landingPageRight_description p {
    font-size: 20px;
    width: 245px;
}

#whoAreWe_Urgent {
    width:100%;
}

}