// Import variables, abstractions, base styles and components.
// Uncomment the next lines and adjust them to your needs.
//@import "variables/{YOUR FILE NAME HERE}";
//@import "abstractions/{YOUR FILE NAME HERE}";
//@import "base/{YOUR FILE NAME HERE}";
//@import "components/{YOUR FILE NAME HERE}";

@import url(https://fonts.googleapis.com/css?family=Cabin);
//@import "compass";
@import "variables";
@import "bootstrap";
//@import "theme";

//Colors to be used for the website:
$mainColor :  #FFBF28;
$secondaryColor: #3c0f31;
$textColor : #000000;
$grey : #CCCCCC;



//A majority of basic Pages have this:

@mixin basicPageFormat{
    .l-content{
      width: 70%;
      margin: 0 auto;
      padding-left: 15px;
    }
    h1{
      //width:70%;
      font-weight: bold;
      border-bottom: 1.5px solid $mainColor;

      margin-right: auto;
      margin-left: auto;
      margin-top: 60px;
      margin-bottom: 30px;

      padding-left: 0px;
      padding-bottom: 15px;
    }

}


/* 
___________________

  This is styling for any pages related to deleting.
  For now, they're kept very simple:

___________________
*/


.page-node-cancel, .page-node-delete, .page-user-cancel{
  .l-content{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    width: 70%;
  }  
  h1{
      font-weight: bold;
      border-bottom: 1.5px solid $mainColor;

      margin-top: 60px;
      margin-bottom: 20px;
     // padding-left: 15px;
      padding-bottom: 15px;
  }

  // These are some default tabs made by drupal, not very aesthetic.
  .tabs.tabs--primary{
      display: none;
  }
    //All buttons on a delete page are red
  form{
        #edit-submit{
          @extend .btn;
          @extend .btn-danger;
          margin-top: 30px;
          margin-bottom: 30px;
          margin-left: 5px;
        }
        #edit-cancel{
          @extend .btn;
          background: $mainColor;
          color: $textColor;
          margin-top: 30px;
          margin-bottom: 30px;
          margin-left: 5px;
            &:focus {
            background-color: ($mainColor * 1.20);
            }
            &:hover{
                 background-color: ($mainColor * 0.80);
            }

        }
  }
}



/* 
___________________

  This is Styling for the Services Page
  
___________________
*/
.node-type-page.section-creative-services, .section-design-illustration-animation-creative-services{
    #servicesList{
      width: 50%;
    }
    h1{
      
      width:70%;
      font-weight: bold;
      border-bottom: 1.5px solid $mainColor;

      margin-right: auto;
      margin-left: auto;
      margin-top: 60px;
      margin-bottom: 20px;

      padding-left: 15px;
      padding-bottom: 15px;
      

    }
    .tabs.tabs--primary{
      display: none;
    }
    //Margins
    .row{
      margin-top: 30px;
    }
    .serviceName{
      font-weight: bold;
      font-size: 18px;
    }
    .serviceDescription{
      font-size: 16px;
      color: $grey;
    }
    #introExplanation, #endExplanation{
      font-size: 18px;
      margin-top: 30px !important;
      width: 60%;
      margin: 0 auto;
    }

    .l-content{
      margin-bottom: 60px;
    }

}


/* 
___________________

  This is Styling for Contact Us Page
  
___________________
*/
.node-type-page.section-contacttapteam{
    #contactUsPage{
      width: 50%;
    }
    h1{
      width:70%;
      font-weight: bold;
      border-bottom: 1.5px solid $mainColor;

      margin-right: auto;
      margin-left: auto;
      margin-top: 60px;
      margin-bottom: 0px;

      padding-left: 15px;
      padding-bottom: 15px;
    }
    .tabs.tabs--primary{
      //display: none;
    }
    //Margins
    .row{
      margin-top: 30px;
    }
    .contactUsPage_label{
      //margin: 0 auto;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 30px !important;
    }

    .workerName{
      font-size: 16px;
      //color: $grey;
      display: inline-block;
    }

    #developmentTeam{
      .row{
        display: flex;
        align-items: center;
      }  
    }

    #contact_details{
      .col-sm-12.contactUsPage_label{
        padding-left: 0px;
        margin-bottom: 20px !important;
      }
      .contact_detailsLabel{
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
      }
      .email{
        font-size: 16px;
        margin-top: 10px;
      }
    }

    #location_details{
      .col-sm-12.contactUsPage_label{
        padding-left: 0px;
      }
      #address{
        font-style: italic;
      }
    }


    //Photos...
    .teamPhoto{
      img{
          width: 120px;
          height: 120px;
          border-radius: 999px;            
          border: 2px solid $mainColor; 
          object-fit: cover;
      } 
    }
   
    .l-content{
      margin-bottom: 60px;
    }



    //Media query for mobile:

    @media (max-width: $screen-xs-max) {
        //Change some margins when the screen is small
        #developmentTeam{
          .row{
              display: inline !important;
              text-align: center !important;

          }
        }

        #contact_details{
          div{
              padding-left: 0px !important;
           }
        }

    }

}


.page-list-of-users, .maintenance-page{
    @include basicPageFormat;

      .views-row{
        @include make-xs-column(4);
        @include make-sm-column(4);
        @include make-md-column(4);
        @include make-lg-column(4);

        @extend .well; 
      } 
      .views-field-name{
        font-size: 20px;
        font-weight: bold;
        a{
          color: #333; 
        }
      }
      .views-label{
        font-weight: bold;
      }
}



/* 
___________________

  This is Styling for the gallery page
  
___________________
*/

.page-gallery{
    //@include basicPageFormat;
    .l-content{
      width: 70%;
      margin: 0 auto;
      padding-left: 15px;
    }

    h1{
      display: none;
    }

    //Filters
    .view-filters{
        border-bottom: 1.5px solid $mainColor;
        padding-bottom: 15px;

        margin: 0px auto !important;
        margin-top: 30px !important;
        margin-bottom: 30px !important;

        //Skills filter
        @include make-row();

        .views-exposed-form{
            @include make-row();
            
            color: $grey * 0.50;
            //An attempt to get all of them?
            .views-exposed-widget{
                  @include make-xs-column(12);
                  @include make-sm-column(6);
                  @include make-md-column(6);
                  @include make-lg-column(6);
                  label{
                      @include make-sm-column(4);
                       text-align: left;
                      padding-left: 0px;
                  }
                  .views-widget{
                      @include make-sm-column(8);
                      padding-left: 0px;
                      padding-right: 0px;
                      select, input{
                           width: 100%;
                           max-width: 250px;     
                      }
                  }
            }

            #edit-field-portfolio-project-skills-tid-wrapper{
                .description{
                  display: none;
                }
            }

            //Show them when xs small
            .views-submit-button, .views-reset-button{
               // @include make-xs-column(6);

                input{
                    @extend .btn;
                    border-radius: 30px !important; 
                    background-color: $mainColor;
                    border: $mainColor * 0.80;
                    color: $text-color;
                }
                display: none;
            }
             //The header will be diffrent on smaller screens
            @media (max-width: $screen-xs-max) {
                .views-submit-button, .views-reset-button{
                    display: inline-block;
                }
            }
      }

    }

    .item-list{
      @include make-row();
      margin-bottom: 60px;
    }
    .views-row{
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(3);
        @include make-lg-column(3);
        margin-bottom: 30px;

        .views-field{
            //These are all the labels under the sidebar
            //Note that I am calling out the default classes                    
            //This is for actual content.
            .field-content{
                img{
                   width: 90%;
                   height: 90%;
                }
                a{
                   color: #333;
                }
            }
        }
        .views-field-field-portfolio-project-skills{
            color: $grey * 0.50;
        }
        //This is for the favorite button and 
        .views-field-ops{
            @include make-sm-column(6);
            span .flag-success-message{
              display: none;
            }
        }
        .views-field-addtoany-link{
            @include make-sm-column(6);
        }
    }
}



//This is for the jobs posted by the admin
//Will need to remove this soon.

.page-creativejobsnz{
  @include basicPageFormat();
  h1{
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .view-header{
    #jobList_searchCreativeJobs{
      border-bottom: 1.5px solid $mainColor;
      font-weight: bold;
      color: $mainColor; 
      font-size: 16px;
      margin-top: 6px;
      padding-bottom: 10px;
    }
    #jobList_registerOnTap{
      color: $grey;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }
        .view-content{
            .views-row{

                background-color: ($mainColor * 0.9);
                min-height: 50px; 
                margin-top: 30px;
                margin-bottom: 30px;

                display:flex;
                align-items: center;




                .views-field-nothing{
                  text-align: center;
                    @include make-sm-column(3);
                    @include make-xs-column(12);

                    
                    color: white;
                    font-weight: bold;
                   a{
                     color: white;
                    font-weight: bold;
                   }
                }


                .views-field-nothing-2{
                    @include make-sm-column(6);
                    @include make-xs-column(12);

                    margin-top: 8px;
                    margin-bottom: 8px;

                    padding-top: 8px;
                    padding-bottom: 8px;

                    border-left: 1.5px solid white; 
                    border-right: 1.5px solid white; 

                    a, div{
                      text-align: center;
                      color: white;
                     }

                    #skillsWanted{
                      font-weight: bold;
                    } 
                }


                .views-field-nothing-1{
                   // border-left: 1.5px solid white; 
                    margin-top: 8px;
                    margin-bottom: 8px;
                    text-align: center;

                    @include make-sm-column(3);
                    @include make-xs-column(12);

          
                    span, .field-content{
                        //display: inline;
                        color: white;
                        font-weight: bold;
                        text-align: left;
                    }
                }



                .views-field-created{
                    border-left: 1.5px solid white; 

                    margin-top: 8px;
                    margin-bottom: 8px;
                    text-align: center;

                    @include make-sm-column(3);
                    @include make-xs-column(12);

          
                    span, .field-content{
                        display: inline;
                        color: white;
                        font-weight: bold;
                        text-align: left;
                    }
                }



            }
        }
}


.page-node.node-type-job-listed-by-admin-{
    @include basicPageFormat();

    article{
      font-size: 16px;
      .field{
        div{
          display: inline-block;
          a{
             // pointer-events: none;
             // cursor: default;
          }
          a:link,  a:visited ,a:hover , a:active {
            color: $textColor;
          }
        }
      }
      .field-label{
        font-weight: bold;
      }
      .field--name-body{
          margin-bottom: 30px;
          margin-top: 30px;
      }
    }
}





//"Show row weights" for multivalue fields 
.tabledrag-toggle-weight{ display: none; }


//This is for hiding links in the footer when logged-in
.logged-in, .page-freelancer-register{
  .hidefooterLink{
    display:none;
  }
}



.views-label-field-first-name, .views-label-field-name, .views-label-field-add, #passwordField,#paymentDetailField{
    font-size: 1.4em;
    //margin: 20px;
    font-weight: bold;
}



