// Import variables, abstractions, base styles and components.
// Uncomment the next lines and adjust them to your needs.
//@import "variables/{YOUR FILE NAME HERE}";
//@import "abstractions/{YOUR FILE NAME HERE}";
//@import "base/{YOUR FILE NAME HERE}";
//@import "components/{YOUR FILE NAME HERE}";

@import url(https://fonts.googleapis.com/css?family=Cabin);
//@import "compass";
@import "variables";
@import "bootstrap";
//@import "theme";

//Colors to be used for the website:
$mainColor :  #FFBF28;
$secondaryColor: #3c0f31;
$textColor : #000000;
$grey : #CCCCCC;



@mixin basicPageFormat{
   .l-content{
      width: 80%;
      margin: 0 auto;
      margin-bottom: 60px;
    }
    h1{
      //width:70%;
      font-weight: bold;
      border-bottom: 1.5px solid $mainColor;

      margin-right: auto;
      margin-left: auto;
      margin-top: 60px;
      margin-bottom: 30px;

      padding-left: 0px;
      padding-bottom: 15px;
    }

}


//This is styling for blog posts

.node-type-blog, .page-blog{

    @include basicPageFormat();
    //These are the actual articles...
    article{
      @include make-row();
      margin-left: 0px; 
      margin-right: 0px; 

      //Let everthing into their own giant column...
      header, footer, .node__content, ul{
        @include make-xs-column(12);
        padding-left: 0px;
        padding-right: 0px;
      }

      //Make sure images in blogs don't go out of proportion
      img{
        max-width: 100%;
        height: auto;
      }
    }
  
}

article.node-teaser {
  height: auto !important;
}

.page-blog article img {
    max-width: 100%;
    height: auto;
}

th, td {
    padding: 0px;
}

.node-teaser p {
    width: 100%;
}
