@import url(https://fonts.googleapis.com/css?family=Cabin);
@import "variables";
@import "bootstrap";

//Colors to be used for the website:
$mainColor :  #FFBF28;
$secondaryColor: #6d2c54;
$textColor : #000000;
$grey : #CCCCCC;

