
@import url(https://fonts.googleapis.com/css?family=Cabin);
//@import "compass";
@import "variables";
@import "bootstrap";
//@import "theme";

//Colors to be used for the website:
$mainColor :  #FFBF28;
$secondaryColor: #3c0f31;
$textColor : #000000;
$grey : #CCCCCC;


.l-main{
  @extend .container;
  width:100%;

  .l-content{
    @include make-sm-column-offset(2);
    @include make-sm-column(8);    

    .views-field-field-images{
      
      .row-1{
        @include make-sm-column(6)
      }
      
      .row-2{        
        @include make-sm-column(6)
      }

    }

    .views-field-name{
      @include make-sm-column-offset(10)
      @include make-sm-column(2)
    }

  }
}

//featured gallery slideshow
/* #views_slideshow_cycle_teaser_section_featured_gallery-block{
  .views-field-title{
    // position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    opacity: 0.6;
    
    span a{
      color: black;
    }
  }
} */

#block-views-featured-gallery-block img{
  
    // width: 600px;
    // height: auto;    
}

#block-views-featured-gallery-block .views-field-counter {
  background: #D2D1D4; // Or bullet background image
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-top: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transition: all 0.2s linear;
}

#block-views-featured-gallery-block .active .views-field-counter {
  background: #606061; // Or bullet background image
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transition: all 0.2s linear;
}

#block-views-featured-gallery-block .views-content-counter{
  display: none;
}

.views-slideshow-controls-bottom #widget_pager_bottom_featured_gallery-block{
  width: 100px;
  margin: 0 auto; 
}
