
@import url(https://fonts.googleapis.com/css?family=Cabin);
//@import "compass";
@import "variables";
@import "bootstrap";
//@import "theme";

//Colors to be used for the website:
$mainColor :  #FFBF28;
$secondaryColor: #3c0f31;
$textColor : #000000;
$grey : #CCCCCC;




/* 
___________________

  This is Styling for the gallery page
  
___________________
*/

.page-browseportfolios{
    //@include basicPageFormat;
    .l-content{
      width: 70%;
      margin: 0 auto;
      padding-left: 15px;
    }

    h1{
      display: none;
    }

    //Filters
    .view-filters{
        border-bottom: 1.5px solid $mainColor;
        padding-bottom: 15px;

        margin: 0px auto !important;
        margin-top: 30px !important;
        margin-bottom: 30px !important;

        //Skills filter
        @include make-row();

        .views-exposed-form{
            @include make-row();
            
            color: $grey * 0.50;
            //An attempt to get all of them?
            .views-exposed-widget{
                  @include make-xs-column(12);
                  @include make-sm-column(6);
                  @include make-md-column(6);
                  @include make-lg-column(6);
                  label{
                      @include make-sm-column(4);
                       text-align: left;
                      padding-left: 0px;
                  }
                  .views-widget{
                      @include make-sm-column(8);
                      padding-left: 0px;
                      padding-right: 0px;
                      select, input{
                           width: 100%;
                           max-width: 250px;     
                      }
                  }
            }

            #edit-field-portfolio-project-skills-tid-wrapper{
                .description{
                  display: none;
                }
            }

            //Show them when xs small
            .views-submit-button, .views-reset-button{
               // @include make-xs-column(6);

                input{
                    @extend .btn;
                    border-radius: 30px !important; 
                    background-color: $mainColor;
                    border: $mainColor * 0.80;
                    color: $text-color;
                }
                // display: none;
            }
             //The header will be diffrent on smaller screens
            @media (max-width: $screen-xs-max) {
                .views-submit-button, .views-reset-button{
                    display: inline-block;
                }
            }
      }

    }

    .item-list{
      @include make-row();
      margin-bottom: 60px;
    }
    
    .view-gallery{
      .views-row{
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(3);
        @include make-lg-column(3);
        margin-bottom: 30px;

        .views-field{
            //These are all the labels under the sidebar
            //Note that I am calling out the default classes                    
            //This is for actual content.
            .field-content{
                img{
                   width: 100%;
                   height: 100%;
                }
                a{
                   color: #333;
                }
            }
        }

        .views-field-field-portfolio-project-skills{
          color: $grey * 0.50;
        }

        //City, Country field.
        .views-field-php{
          color: $grey * 0.50; 
        }
      }
    }

    //The share button under each project.
    .views-field-addtoany-link{
      float: left;      
    }

    //The like/unlike button under each thumbnail.
    .views-field-ops{
      float: left;
      width: 32px;
      line-height: 32px;
      border-radius: 4px;
    }
}




/* 
___________________

  This is Styling for the featured gallery
  
___________________
*/

#block-views-featured-gallery-block .views-field-counter {
  background: #D2D1D4; // Or bullet background image
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-top: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transition: all 0.2s linear;
}

#block-views-featured-gallery-block .active .views-field-counter {
  background: #606061; // Or bullet background image
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transition: all 0.2s linear;
}

#block-views-featured-gallery-block .views-content-counter{
  display: none;
}

.views-slideshow-controls-bottom #widget_pager_bottom_featured_gallery-block{
  width: 100px;
  margin: 0 auto;
}

.views-field-field-weight-editable, .views-field-field-featured-editable{
  background-color: lightgray;
}

.form-required, .description, .sliderfield-selectvalue-description{
  display: none;
}

.views-field-field-featured-editable{
  .form-type-radio{
    display: inline-block;
  }

  .form-item{
    margin-bottom: 0;
  }
}

//----------------------------------------------------------------------------------------------


//Two random Save buttons that appeared after the featured "yes no" editable field was added to projects in gallery.
#edit-actions, #edit-actions--3{
  display: none;
}

//So that title of projects, however long, only fits on two lines, the rest is hidden. 
.views-field-title{
  line-height: 1.5em;
  height: 1.5em;
  overflow: hidden;
}