
@import url(https://fonts.googleapis.com/css?family=Cabin);
//@import "compass";
@import "variables";
@import "bootstrap";
//@import "theme";

//Colors to be used for the website:
$mainColor :  #FFBF28;
$secondaryColor: #3c0f31;
$textColor : #000000;
$grey : #CCCCCC;


// Each page has a class associated with it attached to the body tag, 
// think the css class is based on the url. So for a page with url 
// mysite.com/mypage you could make your CSS selector more specific 
// like: body.page-mypage #page-title { display:none };

//This removes the block titles for all user pages
body.page-user .block__title { 
    display:none 
};

//Move the header stuff just a bit..
.l-header{
    margin-bottom: 28px;
}

//I have arrange the regions via bootstrap-sass. It uses a 12 point grid system
//Keep in mind, you may need to change profilePage-layout.tpl.php if you want certain regions generated before or after another.
.l-main{
    @extend .container;
   width: 80%;
    //1.) This is the header region for profile pages. the first sidebar as one giant column (12)
    .l-region--sidebar-first{   
        @include make-sm-column(12);
        border-bottom: 1.5px solid $mainColor; 
        margin-bottom: 30px; 
        margin-top: -20px; 
        //When moving children around, best to make the parent relative and the children absolute. 
        position: relative;
        min-height: 110px; 
        @extend .clearfix;
        //1.) The header (The user's name and profile picture go here)
            .views-row{
                @extend .clearfix;
                padding-top: 30px; 
                //position: absolute; 
                min-height: 120px; 
                display: flex;
                align-items: center;

                // padding-top: 10px;
                // padding-bottom: 10px; 
                
                .views-field{
                    margin-bottom: 20px;
                    //@extend .well;
                    //These are all the labels under the sidebar
                    //Note that I am calling out the default classes
                    //This is for actual content.
                    .field-content{
                        //margin-top: 10px;
                        //padding-top: 50px;
                    }
                }
            }


            .views-field-field-profile-picture, .views-field-views-conditional{

                img{
                    border-radius: 999px;
                    height: 60px;
                    width: 60px;
                    border: 2px solid $mainColor; 
                    background-size: cover;
                }
                @include make-xs-column(12);
                @extend .clearfix;
                @include make-sm-column(1);
                margin-right:15px;
            }

            .views-field-field-user-first-name, .views-field-name, .name{
                //@include make-sm-column-offset(1);
                // @include make-xs-column(12);
                // @extend .clearfix;
                // @include make-sm-column(4);
                font-size: 2.5em;
                margin-right:7px;
                font-weight: bold;
                span{
                    word-wrap: break-word;
                }
            }

            //The header will be diffrent on smaller screens
            @media (max-width: $screen-xs-max) {
                .views-row{
                    display: inline;
                    text-align: center;

                }
                .views-field-field-profile-picture{
                    padding-top: 20px;
                }
            }


    }



    //Manage content and the second sidebar beside each other (9 and 3)
    .l-content{
        @include make-sm-column(9);
        // 2.) My Projects
        //margin-left: 20px;
        //margin-bottom: 30px;

        //If you don't have a row, links can die on mobile apparently...

        .view-portfolio-header, .view-freelancer-portfolio-projects{
            @include make-row(0);
            //@extend .row; 
        }

         .views-row{              
                display:inline-block;
                margin-bottom: 30px;

                @include make-xs-column(12);
                //Attempt to always have a 3 column unless shrunk
                @include make-sm-column(4);
                @include make-md-column(4);
                @include make-lg-column(4);
                padding-left: 0px !important; 

                .views-field{
                    //These are all the labels under the sidebar
                    //Note that I am calling out the default classes                    
                    //This is for actual content.
                    .field-content{
                       img{
                            width: 90%;
                            height: 90%;
                       }
                       a{
                            color: #333;
                       }
                    }
                }
            }

        .views-field-field-type-of-work{
            .field-content{
                       // margin-top: 10px;
                  color: $grey;
                }
        }

        #block-block-6{
            //@include make-row(0);
            //@include make-sm-column(12);

        }


    }




    .l-region--sidebar-second{
        @include make-sm-column(3);
        margin-bottom: 30px; 

        //3.) The side-bar (Information of the user such as about me, skills, etc.)
        .profilePage-sideBar, .view-client-profile{

            .views-row{
                .views-field{
                    @include make-row();
                    margin-bottom: 20px;
                    //@extend .well;
                    //These are all the labels under the sidebar
                    //Note that I am calling out the default classes
                    .views-label-field-about-me,  .views-label-field-skills, .views-label-field-qualifications, 
                    .views-label-field-interests, .views-field-field-industry-experience-years-, .views-label-field-company-name,
                    .views-label-field-client-about-me, .views-label-field-client-interests, .views-label-field-client-company-profile{
                        font-size: 1.4em;
                        //margin: 20px;
                        font-weight: bold;
                    }
                    //This is for actual content.
                    .field-content{
                        margin-top: 10px;
                        color: $grey;
                    }
                }

                //Specific Fields
                .views-field-field-skills{
                    .field-content{ 
                        font-size: 1.4em;
                        font-weight: bold;
                        color: $mainColor;
                   }
                }

                //This is for alligning the elements under the "Industry experience" portion of user profiles.
                .views-field-field-industry-experience-years-{
                    //display:inline-block;
                    //All parent elements need these two lines to center their children elements vertically. 
                    display: flex;
                    align-items: center;
                     //This here is the label (Years in Industry)
                    .views-label-field-industry-experience-years-{
                        font-weight: bold;
                        font-size: 1.4em;
                        @include make-sm-column(5, 0);
                    }
                    //This here is the number of years
                    .field-content{ 
                        //I added a margin on all content, this negates it for this one
                        margin-bottom: 10px;
                        margin-left: 5px;
                        //@include make-sm-column-offset(1);
                        //@include make-sm-column(6);
                        font-size: 2.5em;
                        color: $mainColor;
                   }
                }  
            }     
        }
    }    
}


#profilePage_passwordChangeLink{
    display: inline-block;
    margin-bottom: 10px;
    a{
        @extend .btn;
        background: $mainColor;
        color: $textColor;
    }
}

//Content margins
#block-views-my-portfolios-block{
    img{
        height: 150px;
    }
    .views-field-title{
        min-height: 50px;
    }
    ul{
        margin-bottom: 0px;
    }
}


//Messages:

#block-block-9{
    font-size: 16px;
    color: $grey;
}
#block-block-6{
    //margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    color: $grey;
}
