
@import url(https://fonts.googleapis.com/css?family=Cabin);
//@import "compass";
@import "variables";
@import "bootstrap";
//@import "theme";

//Colors to be used for the website:
$mainColor :  #FFBF28;
$textColor : #000000;
$grey : #CCCCCC;


.block__title{
    display:none;
}

/* 
___________________

  This is styling for the new freelancer registration page:

___________________
*/

.page-freelancer-register{
  h1{
      font-weight: bold; 
      margin-top: 60px;
  }

  input[type=checkbox] {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      margin-right: 5px;
      margin-top: -4px;
  }
  .tabs ,.tabs--primary ,.links--inline{
    display: none;
  }
  #freelancerRegistrationPage_description{
    color: $grey;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .l-content{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    width: 70%;
  }  
  .form-item-pass{
    width: 100% !important;
  }
  #user-register-form{
    width: 70%;
    font-size: 16px;
  }
  #block-block-15{
    color: $grey;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  #registrationPage_subtitle{
    border-bottom: 1.5px solid $mainColor;
    font-weight: bold;
    color: $mainColor; 
    font-size: 16px;
  }  
}

//Password related margins:
.form-type-password-confirm.form-item-pass{
 // @extend .row;

  //The first row:
  .password-parent{
     @extend .clearfix; 
      .password-field{
        @include make-sm-column(6); 
        @include make-xs-column(12); 
      }
      .password-strength{
        @include make-sm-column(6); 
        @include make-xs-column(12); 
        @extend .pull-right;
      }

  }

  //The second row:
  .confirm-parent{
    @extend .clearfix; 
      input.password-confirm{
        @include make-sm-column(6);
        @include make-xs-column(12); 
 
      }
      div.password-confirm{
        @extend .pull-right;
        @include make-sm-column(6);
        @include make-xs-column(12); 
      }
  }

  // div.password-confirm{
  //     // position: absolute;
  //     // margin-left: 330px;
  // }


  .password-suggestions{
      @include make-sm-column(12); 
  }

}




//Modal Styling:

.registrationModal_header{
    background-color: $mainColor;
    text-align: center;
}

.registrationModal_title{
    background: url('images/TabBetaLogoUpdated.png') no-repeat;
    height: 50px;
    width: 95px;
    margin: 0 auto;
    background-size: 100% 100%;
    text-align: center;
}

.registrationModal_body{
    background: url('images/ProfilePendingApproval.png') no-repeat;
    height: 220px;
    background-size: 100% 100%;
    background-position: 90% 90%;
}
.registrationModal_footer{
    text-align: center;
}

//Background
.modalRegistration{
	//background: url('images/BannerBeta.png') no-repeat;
    //background-size: 100% 100%;
}

//Button
#edit-submit{
    @extend .btn;
}
#edit-submit, .registrationModal_Button{
    background-color: $mainColor;
    border: $mainColor * 0.80;
    color: $text-color;
    
    //Change the color of the button when it is selected or focused.
        &:focus {
            background-color: ($mainColor * 1.20);
        }
        &:hover{
             background-color: ($mainColor * 0.80);
        }
}


//This is a temporary layout for portfolios
body.node-type-portfolio{

    // Portfolio Pages
    img {
        max-width: 100%;
        height: auto;
    }
}



//Media queries for mobile
@media (max-width: $screen-xs-max) {
      form{
        width: 100% !important;
      }
      input{
        max-width: 100%;
      } 
      select{
        max-width: 60%;
      }

      .form-type-password-confirm.form-item-pass{
          //@include container-fixed(15); 
           //The first row:
            .password-parent{
                .password-strength{
                  margin-bottom: 20px;
                  margin-top: 0px;
                  padding-left: 0px;
                  padding-right: 0px;
                }
            }

            //The second row:
            .confirm-parent{            
              //This is a stubborn one...   
                div.password-confirm{
                   display: none; 
                }
            }
      }

      //Some input boxes are naturally uneven..
      //It may be caused by the back-end?
      input.dependent-locality, input.locality{
          max-width: 85%;
      }

      .field-type-addressfield{
        overflow: hidden;
      }
  
}







// @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
//     .pull-sm-left {
//         float: left;
//     }
//     .pull-sm-right {
//         float: right;
//     }
// }

// @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
//     .pull-md-left {
//         float: left;
//     }
//     .pull-md-right {
//         float: right;
//     }
// }

// @media (min-width: $screen-lg-min) {
//     .pull-lg-left {
//         float: left;
//     }
//     .pull-lg-right {
//         float: right;
//     }
// }

//Example HTML:
// <div class="pull-md-left pull-lg-left">
//     this div is only floated on screen-md and screen-lg
// </div>
