
@import url(https://fonts.googleapis.com/css?family=Cabin);
//@import "compass";
@import "variables";
@import "bootstrap";
//@import "theme";

//Colors to be used for the website:
$mainColor :  #FFBF28;
$textColor : #000000;
$grey : #CCCCCC;


body.page-freelancer-register{ 
    //@extend .container;
};

.block__title{
    display:none;
}

.l-main{
    @extend .container;
}




//Modal Styling:

.registrationModal_header{
    background-color: $mainColor;
    text-align: center;
}

.registrationModal_title{
    background-color: $mainColor;
    text-align: center;
}

.registrationModal_body{
    @extend .row;
    .registrationModal_body_image{
       // @extend .well;
        @include make-sm-column-offset(1);
        @include make-sm-column(3);
        background: url('images/CreativeProcess/CreateAPortfolio.png') no-repeat;
        width: 150px;
        height: 150px;
        background-size: 100% 100%;
        margin: 0 auto;
        //padding-left: 30px;
    }
    .registrationModal_body_thankYouMessage{
       // @extend .well;
        @include make-sm-column-offset(1);
        @include make-sm-column(6);
        font-size: 1.8em;
        color: black;
    }
    .registrationModal_body_message{
       // @extend .well;
        @include make-sm-column(12);
        font-size: 1.2em;
        color: $mainColor;
        width: 50%;
        margin: 0 auto;
    }

	//height: 500px;
    background-size: 100% 100%;
}

.registrationModal_footer{
    //background-color: $mainColor;
}

//Background
.modalRegistration{
	//background: url('images/BannerBeta.png') no-repeat;
    //background-size: 100% 100%;
}

//Button
.registrationModal_Button{
    background-color: $mainColor;
    border: $mainColor * 0.80;
    color: $text-color;
    
    //Change the color of the button when it is selected or focused.
        &:focus {
            background-color: ($mainColor * 1.20);
        }
        &:hover{
             background-color: ($mainColor * 0.80);
        }
}


//This is a temporary layout for portfolios
body.node-type-portfolio{

    // Portfolio Pages
    img {
        max-width: 100%;
        height: auto;
    }

}

//Expressing availability buttons on freelancer_pending_jobs quicktabs tab.
#quicktabs-tabpage-freelancer_jobs-1{
    .views-row{
        margin-bottom: 10px;
    }
    .views-field-title, .views-field-php-1{
        display: inline;
    }
}