// Import variables, abstractions, base styles and components.
// Uncomment the next lines and adjust them to your needs.
//@import "variables/{YOUR FILE NAME HERE}";
//@import "abstractions/{YOUR FILE NAME HERE}";
//@import "base/{YOUR FILE NAME HERE}";
//@import "components/{YOUR FILE NAME HERE}";

@import url(https://fonts.googleapis.com/css?family=Cabin);
//@import "compass";
@import "variables";
@import "bootstrap";
//@import "theme";

//Colors to be used for the website:
$mainColor :  #FFBF28;
$textColor : #000000;
$grey : #CCCCCC;


// 1.) Styling for the Whole Website

    //Get ride of all margin and padding
    * {
        font-family: Cabin;
        text-color: $textColor;
        //Get ride of all margin and padding to make them easy to manipulate
        margin: 0;
        //padding: 0;

    }
    body{
         padding-top: 50px;
    }

   
    //The Navigation bar styling:
    #block-system-main-menu{       
        @extend .navbar;
        @extend .navbar-fixed-top;
        position: fixed;

        #tapLogo{
            background: url('images/tapLogoBeta.png') no-repeat;
            background-color: white;
            width:70px; /* you can use % */
            margin-left: 10px;
            background-size: 100% 100%;
         }

         #collapseButtonCustom{
            background: url('images/tapLogoBeta.png') no-repeat;
            background-color: white;
         }

        background-color: $mainColor;
        ul {
            @extend .nav;
            @extend .navbar-nav;
            @extend .navbar-right;

            margin-right: 1%;
            text-color: $text-color;
            display: nowrap;
            li{
                border-right: 1px solid white;
            }
            li a{
                &:link {
                    //background-color: ($mainColor);
                }
                &:visited {
                    background-color: ($mainColor * 0.80);
                }
                &:active {
                    background-color: ($mainColor * 1.20);

                &:focus {
                    background-color: ($mainColor * 1.20);
                }
                &:hover{
                    background-color: ($mainColor * 0.80);
                }
                }
             }
         }
      
    }

     .nav.navbar-nav.navbar-right li a {
        color: $textColor;
        display: nowrap;
    }
    
    .navbar-fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 500; // to show the menu sequence
    }   

    nav .block__title{
        display: none;
    }

//Stick Footer
// A "normal" sticky footer fix will not work. 
// However I have found the following code from https://www.drupal.org/node/1136752

html, body {
  height: 100%;
}

.l-page {
  min-height: 100%;
  position: relative;
}

.l-main {
  padding-bottom: 400px;
}

.l-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  #block-block-4, #block-block-11, #block-block-12, #block-block-13, #block-block-14{
        @extend .container;
  }    
  background: lightgray;
  p{
    margin:0;
            padding:5px;      
  }
}



// .l-content{
//     //@extend .container;
//     h1{
//         display:hidden;
//         //font-size: 12px;
//     }
// }







// //View and Edit tabs on my-account page.
// .tabs--primary{
//     display: none;
//     li{
//         display: none;
//         a{
//             display: none;
//         }
//     }

// }

.views-label-field-first-name, .views-label-field-name, .views-label-field-add, #passwordField,#paymentDetailField{
    font-size: 1.4em;
    //margin: 20px;
    font-weight: bold;
}


//Missing drag and drop icon for uploaded image reorder
 .handle{
    background: url('images/rsz_dragarrow.png') no-repeat !important;
    margin: 0 !important;
    width: 30px !important;
    height: 30px !important;
    padding: 0 !important;
    margin-top:0px !important; 
 }