// Import variables, abstractions, base styles and components.
// Uncomment the next lines and adjust them to your needs.
//@import "variables/{YOUR FILE NAME HERE}";
//@import "abstractions/{YOUR FILE NAME HERE}";
//@import "base/{YOUR FILE NAME HERE}";
//@import "components/{YOUR FILE NAME HERE}";

@import url(https://fonts.googleapis.com/css?family=Cabin);
//@import "compass";
@import "variables";
@import "bootstrap";
//@import "theme";

//Colors to be used for the website:
$mainColor :  #FFBF28;
$secondaryColor: #3c0f31;
$textColor : #000000;
$grey : #CCCCCC;


// 1.) Styling for the Whole Website

    //Get ride of all margin and padding
    * {
        font-family: Cabin;
        text-color: $textColor;
        //Get ride of all margin and padding to make them easy to manipulate
        margin: 0;
        //padding: 0;

    }
    body{
         padding-top: 50px;
    }

    .btn, .editProfileLink{
      border-radius: 30px !important; 
    }
    #edit-actions{
      input{
        border-radius: 30px !important; 
      }
    }
    #addPortfolioButton{
      a{
        border-radius: 30px !important; 
      }
    }



    //The Navigation bar styling:
    #block-system-main-menu{       
        @extend .navbar;
        @extend .navbar-fixed-top;
        @extend .container-fluid;
        position: fixed;       
        #tapLogo{
            position: relative;
            //padding-top: 48px;
            img{
                top:5.5px;
                left:0;
                margin-left: 38px;
                height: 40px;
                width: auto; 
                position: absolute;
            }         
         }

        #collapseButtonCustom{
            // height: 30px;
            // background-color: $secondaryColor;
            // width: 30px;  
            border: 1px solid $secondaryColor;
            span{
              background-color: $secondaryColor;
            } 
         }


        background-color: $mainColor;
        ul {
            @extend .nav;
            @extend .navbar-nav;
            @extend .navbar-right;

            font-weight: bold;
            margin-right: 15px;
            text-color: $text-color;
            display: nowrap;

            //This is due to changing the padding of the a tags
            padding-top: 5px; 
            //This is for the menu's half borders
            //Note, we ignore the last menu leaf
            li:not(.last){
                display: flex;
                align-items: center;
                //This div was made via jQuery
                .borderForMenu{
                  border-right: 1px solid white;
                  height: 25px;
                  //Alternatively, we can add margin to the a tag instead... 
                  margin-left: 15px;
                  margin-right: 15px;
                }
            }

            li a{
                 cursor: pointer;
                 cursor: hand;

                 padding-top: 10px;
                 padding-bottom: 10px;
                 border-radius: 30px;

                 color: $textColor !important;
                 display: nowrap !important;

                &:hover {
                    background-color: $mainColor !important;
                    color: white !important;
                }
                &:active, &:visited, &:link {
                    background-color: $mainColor !important;
                }


               
             }
         }
      
    }

    // .nav.navbar-nav.navbar-right li a {
    //     color: $textColor;
    //     display: nowrap;
    // }
      
    //This code is for the navbar when you collapse the browser
    // .navbar-nav > li > a, 
    // #block-system-main-menu ul > li > a, 
    // #block-system-user-menu .menu > li > a{
    //     //text-align: right;
    // }

    .navbar-fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 500; // to show the menu sequence
    }   

    nav .block__title{
        display: none;
    }

    //This is the secondary main menu that appears.
     #block-menu-menu-secondary-nav-bar, #block-system-user-menu{
        @extend .navbar;
        @extend .container-fluid;
        border-bottom: 1.5px solid $mainColor; 
        .menu{
            @extend .nav;
            @extend .navbar-nav;
            @extend .navbar-right;
            margin-right: 5%;
            text-color: $text-color;
            display: nowrap;
            font-weight: bold;
        }
        //height: 50px;
        background-color: white;
        a:link {
            color: $textColor ;
        }

        /* visited link */
        a:visited {
            color: $textColor ;
        }

        /* mouse over link */
        a:hover {
            color: $textColor ;
        }

        /* selected link */
        a:active {
            color: $textColor ;
        }
    }





//Stick Footer
// A "normal" sticky footer fix will not work. 
// However I have found the following code from https://www.drupal.org/node/1136752

html, body {
  height: 100%;
}

.l-page {
  min-height: 100%;
  position: relative;
}

.l-main {
  //It's slighty larger than the footer size to have a little padding between content and the footer
  padding-bottom: 230px;
}

.l-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 230px;
  background: $secondaryColor;
  color: white;
  font-size: 0px;
  
  //In the curent version of the footer, it is dynamic through bootstrap.
  .l-region--footer{
    background: $secondaryColor;
  }

  #block-block-4{ 
    @include make-sm-column-offset(1);
    @include make-sm-column(2);
    background: $secondaryColor;
    font-size: 16px;

    display:inline-block; 
    vertical-align: text-top;
    margin-top: 0px;
    padding-top: 30px;
    //padding-left: 60px;
  }
  //This block contains lines of text giving descriptions
  #block-block-14{
    @include make-sm-column(9);
    background: $secondaryColor;
    font-size: 16px;

    display:inline-block; 
    vertical-align: text-top;
    margin-top: 0px;
    //padding-left: 60px;
    padding-top: 30px;
  }  
#block-block-14 {
  float: none;
  padding-bottom: 30px;
}
block-block-4 {
  float: none;
  padding-bottom: 30px;
}
  #security_Images{
      display: inline;
      list-style-type: none;
      li{
        list-style-type: none;
        display: inline-block;
      } 
    }
    img{
      width: 50px;
      height: 50px;
    }

  //This is styling for the hyperlinks  
  /* unvisited link */
      a:link, a {
          color: white;
      }

      /* visited link */
      a:visited {
          color: white;
      }

      /* mouse over link */
      a:hover {
          color: white;
      }

      /* selected link */
      a:active {
          color: white;
      }

}


/* 
___________________

This is Styling for the MailChimp Popup that will show in all pages.

___________________
*/

#emailSignUpModal{
    .modalEmailSignUp_header{
        background-color: $mainColor;
        text-align: center;
    }

    .modalEmailSignUp_title{
        background: url('images/TabBetaLogoUpdated.png') no-repeat;
        height: 50px;
        width: 95px;
        margin: 0 auto;
        background-size: 100% 100%;
        text-align: center;
    }

    .modalEmailSignUp_body{
        background: url('images/EmailSignUp.png') no-repeat;
        .modalEmailSignUp_footer{
            text-align: center;
        }

        height: 220px;
        background-size: 100% 100%;
        background-position: 90% 90%;
    }

    .modal-footer{
        border-top: 0px !important;
    }

    //Button
    .form-submit{
        @extend .btn;
        //@extend .btn-lg;
        margin-left: 2px;
        margin-bottom: 3px;
        background-color: $mainColor;
        border: $mainColor * 0.80;
        color: $text-color;
            &:focus {
                background-color: ($mainColor * 1.20);
            }
            &:hover{
                 background-color: ($mainColor * 0.80);
            }
    }

}


#mailchimp-signup-subscribe-block-client-subscribe-form{
  text-align: left;
  margin-left: 25px;
  label{
    display: inline-block;
    font-size: 16px;
  }
  #edit-mergevars-email, .form-actions, .mailchimp-newsletter-mergefields{
    display: inline-block
  }
}




/* 
___________________

This is Styling for the new Portfolio form

___________________
*/



.page-node-add-portfolio, .page-node-edit.node-type-portfolio{
  //Header stuff
  #newPortfolio_titleDiv{
    display: flex;           /* establish flex container */
    align-items: center;     /* center items vertically, in this case */
    border-bottom: 1.5px solid $mainColor; 
    width: 70%;
    margin: 0 auto;
    h1{
      font-weight: bold;
      em{
        display: none !important;
      }
    }
    #newPortfolio_Logo{
        background: url('images/CreativeProcess/CreateAPortfolio.png') no-repeat;
        width: 100px;
        height: 100px;
        background-size: 100% 100%;
    }
  }

  //The gutter surrounding the form
  .l-content{
    form{
      width: 60%;
      margin: 0 auto;
    }
  }


  //Description Fields
  .fieldset-description, .description{
    font-size: 16px;
    color: $grey*0.8;
    margin-bottom: 10px;
  }

  //The Upload Image section
  #edit-field-images{
    .image-widget-data{
      @extend .well;
      margin-bottom: 15px;
      //margin-left: 15px;
      //border: 2px solid $mainColor; 
    }
    legend{
      border-bottom: 0px solid #e5e5e5;
      margin-bottom: 3px;
      span{
        font-weight: bold;
        font-size: 18px;
      }
    }
    .form-submit, .ajax-processed{
      @extend .btn;
      margin-top: 10px;
      background: $mainColor;
      color: $textColor;
    }
    //There's stuff that needs to be invisible.
    //It shouldn't be dangerous if it was seen
    label{
      display: none !important;
    }
    .description{
      display: none !important;
    }
    .tabledrag-toggle-weight{
      display: none !important;
    }
    //Styling for the Image table
    table{
      margin-top: 30px;
      margin-bottom: 20px;
      th,td{
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  // Margin stuff
  .image-widget-data, #edit-field-portfolio-project-skills, #edit-field-images, #edit-body, .form-item-title, .messages--error{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .image-widget-data{
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .messages--error{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  #edit-field-portfolio-project-skills{
    //margin-top: -25px;
  }

  //All labels on the form
  label{
    font-size: 18px;
    margin-bottom: 10px;
  }
  //Hide the tips
  .tips{
    display: none !important;
  }

  //The Skill List section:
  #edit-field-portfolio-project-skills{
    //Checkbox size
    input[type=checkbox] {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      margin-right: 5px;
      margin-top: -4px;
    }
    .description{
      margin-left: 0px;
    }
    .projectSkillListRow{
      //margin: 0 auto;
      .option{
        font-size: 16px;
        color: $grey*0.8;
      }
    }

  }

  //The Thumbnail section

  @media (max-width: $screen-xs-max) {
      //Change some margins when the screen is small
     #edit-field-thumbnail{
        display: none;
       // .jcrop-holder, .jcrop-tracker,  .cropbox{
       //      width: 300px !important;
       //  }
     }
  }



  //The Submit Buttons 
  #edit-actions{
      border-top: 2px solid $mainColor; 
      padding-top: 30px;
      margin-bottom: 60px;
        #edit-submit{
          @extend .btn;
          background: $mainColor;
          color: $textColor;
            &:focus {
            background-color: ($mainColor * 1.20);
            }
            &:hover{
                 background-color: ($mainColor * 0.80);
            }
        }
        #edit-preview, #edit-cancel-changes{
          @extend .btn;
          background: $mainColor;
          margin-left: 5px;
          color: $textColor;
            &:focus {
            background-color: ($mainColor * 1.20);
            }
            &:hover{
                 background-color: ($mainColor * 0.80);
            }
        }
        #edit-preview{
          display:none !important;
        }
    }

}

//This is specifically for the edit Portfolio Page
.page-node-edit.node-type-portfolio{
  .tabs.tabs--primary{
    display: none;
  }
  #edit-delete{
    @extend .btn;
    @extend .btn-danger;
    float: right;
    margin-left: 5px;
    //color: $textColor;
  }

}






/* 
___________________

  This is Styling for Terms and Conditions Page, and the page to view all unregistered users
  
___________________
*/

.page-legal.section-legal, .page-legal-accept, .maintenance-page{
    .l-content{
      width: 70%;
      margin: 0 auto;
      padding-left: 15px;
    }
    h1{
      //width:70%;
      font-weight: bold;
      border-bottom: 1.5px solid $mainColor;

      margin-right: auto;
      margin-left: auto;
      margin-top: 60px;
      margin-bottom: 30px;

      padding-left: 0px;
      padding-bottom: 15px;
    }

    //.view-all-unregistered-users{
      .views-row{
        @include make-sm-column(4);
        @extend .well; 
      } 
      .views-field-name{
        font-size: 16px;
        font-weight: bold;
        color: black !important; 
      }
      .views-label{
        font-weight: bold;
      }
    //}
}



//This is styling for blog posts

.node-type-blog, .page-blog{
    .l-content{
      width: 70%;
      margin: 0 auto;
      margin-bottom: 60px;
      padding-left: 15px;
    }
    h1{
      //width:70%;
      font-weight: bold;
      border-bottom: 1.5px solid $mainColor;

      margin-right: auto;
      margin-left: auto;
      margin-top: 60px;
      margin-bottom: 30px;

      padding-left: 0px;
      padding-bottom: 15px;
    }
}




//"Show row weights" for multivalue fields 
.tabledrag-toggle-weight{ display: none; }


//This is for hiding links in the footer when logged-in
.logged-in, .page-freelancer-register{
  .hidefooterLink{
    display:none;
  }
}



.views-label-field-first-name, .views-label-field-name, .views-label-field-add, #passwordField,#paymentDetailField{
    font-size: 1.4em;
    //margin: 20px;
    font-weight: bold;
}


//Missing drag and drop icon for uploaded image reorder
 .handle{
    background: url('images/rsz_dragarrow.png') no-repeat !important;
    margin: 0 !important;
    width: 30px !important;
    height: 30px !important;
    padding: 0 !important;
    margin-top:0px !important; 
 }


//Media queries for mobile:
//These are some margin changes when the user is on a mobile device

@media (max-width: $screen-xs-max) {
    //Change some margins when the screen is small
    .borderForMenu{
        border-right: none !important; 
    }

    #socialLinksDiv{
      margin-top: 30px;
      li:nth-child(4){
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    .modalEmailSignUp_body{
        background: url('images/EmailSignUp.png') no-repeat;
        .modalEmailSignUp_footer{
            text-align: center;
            #edit-mergevars-email, .form-text{
              max-width: 50%;
            }
        }       
        height: 120px !important;
        background-size: cover !important;
        background-position: 20% !important;
    }
    
}

//User login page
#user-login{
  .description{
    display: none;
  }

  .form-item label .form-required{
    display: none;
  }
}

#admin-menu{
  opacity: 0.85;
}




#footer_contentContainer{
    background-color: #3f0d32;
    #footer_contentContainer{
        width:70%;
        margin-bottom: 30px;
    }
 
}
#footer_row{
    p{
    font-size:24px;
    margin-top: 44px;
    }
}

.footerLine {
    border: #6e2a54 solid 1px;
    width: 90%;
    margin: auto;
}

.footer_logos{
    text-align: center;
    padding:30px;
}

#footer_PropellerStudios img{
    max-width: 150px;
    max-height: 150px;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

#footer_VictoriaUniversity img{
    max-width: 230px;
    max-height: 150px;
    height: auto;
    width: 122%;
    margin: 0 auto;
}

#footer_NeatPlaces img{
    max-width: 61px;
    max-height: 150px;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

#footer_ecoPortal img{
    max-width: 222px;
    max-height: 150px;
    height: auto;
    width: 122%;
    margin: 0 auto;
}

#footer_irfd img{
    max-width: 100px;
    max-height: 150px;
    height: auto;
    width: 100%;
    margin: 0 auto;
}


//The Registration Buttons:
#registrationButtonClient , #registrationButtonFreelancer{
    background-color: $mainColor;
    border: solid 3px #FFBF28;
    padding: 8px 16px;
    color: #434547;
    margin-bottom: 10px; 
    
    //Change the color of the button when it is selected or focused.
        &:focus {
            background-color: ($mainColor * 0.80);
        }
        &:hover{
             background-color: rgba(255, 255, 255, 0.0);
             border: solid 3px #FFBF28;
             color: #FFBF28;
        }
}

.landingPage_emphasizedText {
    font-size: 26px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #6e2a54;
}