
/* style tweaks for the Contexts and Selection rules tabs, based on panels */
.right-container {
  float: right;
  padding: 0 0 0 .5em;
  margin: 0;
  width: 48.5%;
}

.left-container {
  padding-right: .5em;
  width: 48.5%;
}

table .operation {
  text-align: right;
  padding-right: 6px;
}

tr.changed td {
  background-color: #FFFFDD !important;
}

tr.changed td span.star {
  font-weight: bold;
  color: #E09010;
}

td select {
  margin: 0;
  padding: 0;
}
